{% extends "base/base.html" %}
{% load static %}

{% block title %}
hecho
{% endblock %}

{% block header %}  {% endblock %}

{% block content %}

<!DOCTYPE html>
<html>


<body>
<div class="container">
	<div class="d-flex justify-content-center h-70%">
		<div class="card">
			
				<h3>Hecho. Muchas gracias</h3>
				
    	</div>
	</div>
</div>
</body>
</html>
<br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--all above is necessary for bootstrap to function in this snippet-->
{% endblock %}

